<script src="./js/submitwork.js"></script>
     <!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
	<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index">首页</a></li>
			<li><a href="#">我的待办任务</a></li>
			<li><a href="#">加班申请待办</a></li>
			<li><a href="#">重新提交加班审批</a></li>
		</ol>
	</div>
</div>       
            <div class="container-fluid">
                       <div class="row">
                    <div class="col-lg-12">
                    <div class="box ui-draggable ui-droppable">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-coffee"></i> <span>重新提交加班审批</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
						</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
					</div>
					<div class="no-move"></div>
				</div>
				<div class="box-content">
                                <table id="grid-data" class="table table-condensed table-hover table-striped">
							        <thead>
							            <tr>
											<th data-column-id="applyer">申请人</th>
											<th data-column-id="projectName">项目名称</th>
											<th data-column-id="content">加班内容</th>
											<th data-column-id="startTime">开始时间</th>
											<th data-column-id="endTime">结束时间</th>
											<th data-column-id="taskid">任务ID</th>
											<th data-column-id="taskname">任务名称</th>
											<th data-column-id="processinstanceid" >流程实例ID</th>
											<th data-formatter="commands">操作</th>
							            </tr>
							        </thead>
							    </table>
                            </div>
                            </div>
                        </div>
                    </div>
	<div class="row">
		<div class="col-lg-12">
			<div class="box ui-draggable ui-droppable" id="pm">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-search"></i> <span>重新提交加班审批</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
						</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
					</div>
					<div class="no-move"></div>
				</div>
				<div class="box-content">
					<form role="form" action="" method="post">
						<div class="form-group">
							<label>加班项目</label>
							<input id="projectName" class="form-control" name="projectName" placeholder="项目名称"/>
						</div>
						<div class="form-group has-feedback">
							<label class="control-label">开始时间</label>
							<input id="startTime" class="form-control" name="startTime" placeholder="开始时间"/>
						</div>
						<div class="form-group has-feedback">
							<label>结束时间</label> <input id="endTime" class="form-control" name="endTime"
													   placeholder="结束时间"/>
						</div>
						<div class="form-group">
							<label>加班内容</label>
							<textarea class="form-control" id="content1" name="content" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label>请选择项目经理进行审批</label>
							<select id="leader" name="pm" class="form-control">
							</select>
						</div>
						<button id="btn" type="button" class="btn btn-primary">开始申请</button>
						<button type="reset" class="btn btn-primary">重置</button>
					</form>
				</div>
			</div>

		</div>
	</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#btn").click(function(){
	    		    	$.post("submitWork/"+$("form").data("taskid"),$("form").serialize(),function(a){
	    		    		alert("处理成功");
	    		    		LoadAjaxContent("submitwork");
	    		    	});
	    	    });

	$.get("/listUsers",function(data){
		for (i=0;i<data.length;i++) {
			$("#leader").append("<option value='"+ data[i].username +"'>" + data[i].username + "</option>");
		}
	});
});
</script>                         
            
            
